@mixin color-variables {
  --clr-primary: #9db5b2;
  --clr-white: #ffffff;
  --clr-black: #3b413c;
  --clr-accent: #94d1be;
  --clr-white-contrast: #daf0ee;

  --clr-primary: #9db5b2;
  --clr-white: #dde1ff;
  --clr-black: #2d3047;
  --clr-accent: #1b998b;
  --clr-white-contrast: #daf0ee;
}
